@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");

body {
    @apply bg-gray text-mint;
}

input:focus,
button:focus,
input:active,
select {
    outline: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}

@tailwind base;
@tailwind components;

/* global */
.responsive-container {
    @apply w-full px-5 md:w-182 md:px-0 md:mx-auto;
}

.nav-bar {
    @apply mt-10 mb-8 flex justify-between;
}

.nav-bar .logo {
    @apply font-semibold italic font-serif underline;
}

.artist-name {
    @apply mt-1 text-sm uppercase text-black;
}

/* home */
.heading {
    @apply font-monoton text-6xl md:text-8xl text-white mt-8;
}

.album-thumbnail-list {
    @apply mt-12 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-5 md:gap-8 mb-20;
}

.album-thumbnail {
    @apply cursor-pointer relative w-full bg-white rounded-lg text-right overflow-hidden;
}

.album-thumbnail:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.album-thumbnail .rank {
    @apply absolute top-0 ml-2 mt-2 text-2xl italic text-white underline;
}

.sort-option-btn {
    @apply text-center w-40 bg-gray border border-mint mr-3 px-3 py-1 rounded-full;
}

.search-bar {
    @apply w-1/2 border border-mint px-3 py-1;
}

.no-search-result {
    @apply mt-20 text-center text-white;
}

/* /albums/[rank] */
.album-preview {
    @apply flex justify-between w-full h-42.5 items-center bg-white rounded-r-md;
    border-top-left-radius: 85px;
    border-bottom-left-radius: 85px;
}

.album-preview img {
    @apply rounded-l-full;
}

table {
    @apply px-4;
}

table tr {
    @apply border-t border-mint;
}

table tr td {
    @apply py-2;
}

table tr td:first-child {
    @apply w-20 font-semibold;
}

table tr td:last-child {
    @apply text-right text-white;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@tailwind utilities;
